<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>About</title>
<link rel="shortcut icon" href="img/clouds.png" type="image/x-icon">
<link rel="stylesheet" href="/css/styles.css" />
</head>
  <body>
   <div class="main-content">
      {{>header}}
      <section id="about">
        <p>Welcome to our weather application! We are dedicated to providing accurate and up-to-date weather information to help you plan your day effectively.</p>
        <h3> Feel free to explore and enjoy!</h3>
      </section>
    </div>
    {{>footer}}
  </body>
</html>
