<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Help</title>
<link rel="shortcut icon" href="img/clouds.png" type="image/x-icon">
<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <div class="main-content">
    {{>header}}
    <section id="help">
      <h2>How to Use</h2>
      <p>Welcome to our weather application! It's designed to provide you with accurate weather information for your location. Here's how you can interact with the website:</p>
      
      <h3>Getting Weather Data</h3>
      <p>To get the weather data for your location:</p>
      <ol>
        <li>Type your location into the search box.</li>
        <li>Click the "Search" button or press Enter.</li>
        <li>Wait a moment for the data to load.</li>
      </ol>
      
      <p>Once the data is loaded, you'll see the current weather conditions for your location, including temperature, forecast.</p>
    </section>
  </div>
  {{>footer}}
</body>
</html>
